/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: #e8e7e7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  width: 600px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

.container {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 0; 

}

/* TodoItem.css */
span {
  margin-left: 8px;
}

/* TodoList.css */
div {
  max-width: 300px;
  margin: 0 auto;
}

.todo{
  display: flex;
  align-items: center;
}

.trashbin{
  margin-left: auto;
  background-color: rgb(218, 48, 48);
  margin-right: 0; 
  margin-top: 10px;
}

.trashbin-container {
  margin-right: 10px; 
  margin-left: auto;
}

.todo-item {
  display: flex;
  align-items: center;
}
