@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Slackside+One&display=swap");

/* styles.css */
body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative; /* Set position to relative */
  overflow: hidden; /* Hide overflow of the body */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/img/background.jpg");
  background-color: #e8e7e7;
  opacity: 0.5;
  z-index: -1;
}
.container {
  text-align: center;
}

.card {
  background-color: #e8e7e7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  width: 600px;
}

form {
  margin-bottom: 20px;
  width: 600px;
}

input {
  padding: 8px;
  margin-right: 0px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

/* TodoList.css */
.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.todo-btn {
  background-color: rgb(158, 199, 252);
  box-shadow: 0 1px, 1px, 1px;
  border: none;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.todo-item {
  display: flex;
  align-items: center;
}

.trashbin {
  background-color: rgb(218, 48, 48);
  padding: 5px;
  margin-right: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.trashbin:hover {
  background-color: rgb(176, 28, 28);
}

.clear {
  background-color: rgb(224, 78, 78);
  padding: 5px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.filter-btn {
  margin-left: 10px;
  background-color: #969696;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
